*{
    margin: 0px;
    padding: 0px;
   }
   body{
    background-image: url("https://images.pexels.com/photos/3483098/pexels-photo-3483098.jpeg");
    background-size: 100%;
}
div{
    width:auto;
    margin:20px;
    background-color: rgba(230, 227, 227, 0.63);
    border: solid black 3px;
    display: inline-block;
    padding:20px;
}

#activities{
    height: 100px;
    overflow-y:auto;
    
}

#above_wrapper {
    width: 1200px;
    
        background-color: cyan;
        margin: 20px;
        padding: 16px;
}
#wrapper{
    width: 1200px;

    background-color: silver;
    margin: 20px;
    padding: 16px;
   }

   .notranslate{
       display: none;
   }
 
#no_more_coins{
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.849);
}
   