<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/invest.css' %}"> 
   
    
  </head>
  <body>
    <div id='above_wrapper'>
      <div><p><a href='/'>Home</a> </p></div>    
      <div><p>Your Gold: {{user.account_balance}}</p></div>
      <div><p>Coins: {{user.coins}}</p></div>
      <div><p><a href='/display_invest'>Invest:</a> {{user.invested_balance}}</p></div>
      <div><p><a href='/display_account'>Account</a></p></div>
      <div><p><a href='/logout'>Logout</a></p></div>
</div>

        <div id='no_more_coins'><h2>No more coins:</h2>
        <p>Your Gold: {{user.account_balance}}</p>
        <p>{{user.coin_click_counter}} Click(s) left!</p>
        <form  action="/add_coins" method="post">
            {% csrf_token %}
            <button name='add_coins' type="submit">Add coins</button>
            <!--
              Old code
              <input type='hidden' name='coins_to_add' value=20 />
        -->
        
        </form>
      </div>
  </body>
</html>